.demo-header {
  height: 80px;
  padding: 0 var(--spacing-8);
  display: flex;
  align-items: center;
  background: var(--color-primary);
  box-shadow: var(--shadow-md);

  .demo-header-content {
    display: flex;
    align-items: center;
    gap: var(--spacing-4);

    h2 {
      margin: 0;
      font-size: var(--font-size-3xl);
      font-weight: var(--font-weight-semibold);
      color: var(--color-text-on-primary);
    }
  }
}
